@import '../../../styles/tokens/colors';

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .sidebar {
    width: 260px;
    height: 100%;
    background-color: var(--bg);
    // border-right: 1px solid var(--border-color);
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    // background-color: $bg-light;
  }

  .main {
    padding: 2rem;
    flex: 1;
  }
}
