:root {
  --agilipay-primary: #10b981;
  --agilipay-secondary: #1e293b;

  --agilipay-bg: #f1f5f9;
  --agilipay-white: #ffffff;
  --agilipay-text-main: #1e293b;
  --agilipay-text-muted: #64748b;

  --agilipay-success: #10b981;
  --agilipay-error: #ef4444;
  --agilipay-warning: #f59e0b;
}
